body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
}


.header {
    background: #78A2D2;
    padding: 20px 0;
    display: flex;
    justify-content: center; 

.header-content{
    display: flex;
    align-items: center;     
    gap: 15px;             
}

.logo {
    height: 70px;            
}

.titulo {
    font-size: 32px;
    color: white;
    margin: 0;
    font-weight: bold;
}


    display: flex;
    justify-content: flex-start; 
    gap: 10px;                   
    margin: 20px;
}

.tab-btn {
    padding: 10px 20px;
    background: #4069a3;
    color: white;
    border: none;
    margin: 5px;
    cursor: pointer;
    border-radius: 8px;
}


.edu-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}


.subtemas-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.subtema-btn {
    width: 180px;
    padding: 12px;
    background: #78A2D2;
    color: #FEFFAF;
    border: none;
    border-radius: 12px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}


.contenido-subtema {
    background: white;
    padding: 20px;
    border-radius: 15px;
    flex: 1;
    min-height: 300px;
}

.subtema-contenido img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
}


.formulario {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    background: #f7f9fc;
    border-radius: 12px;
    border: 2px solid #78A2D2;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.formulario label {
    font-weight: bold;
    color: #2a3d66;
    font-size: 17px;
}


.formulario input,
.formulario textarea {
    padding: 12px;
    border: 2px solid #78A2D2;
    border-radius: 10px;
    font-size: 16px;
    background: white;
    outline: none;
    transition: 0.3s;
}


.formulario input:focus,
.formulario textarea:focus {
    border-color: #4d81b7;
    box-shadow: 0 0 6px rgba(72, 122, 168, 0.4);
}


.btn-enviar {
    margin-top: 10px;
    padding: 12px;
    background-color: #78A2D2;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}


.btn-enviar:hover {
    background-color: #5c84a7;
}

#formulario h2 {
    text-align: center;
    font-size: 26px;
    color: #78A2D2;
    font-weight: bold;
}

#formulario p {
    text-align: center;
    font-size: 16px;
    color: #3b4c6b;
    margin-bottom: 20px;
}

